{% extends 'base.html' %}
{% load static %}
{% block title %}card view{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
<div class="des">
    <p style="font-size: 25px;"<center>E-Commerce Mobile Store </center></p>
<div class="in">
<p>Welcome to E-Commerce Mobile Store, your trusted online destination for the latest smartphones at unbeatable prices. <br>
We bring you a wide range of mobiles from top brands, featuring the newest technology, powerful performance, and stylish designs—all in one place.
<br>
Browse through our curated collection to find the perfect device that fits your lifestyle. <br>
Whether you're looking for high-end flagship phones, budget-friendly options, gaming powerhouses, or camera-focused smartphones, we have something for everyone.

Enjoy a smooth shopping experience with secure payments, fast delivery, genuine products, and dedicated customer support. <br>
At E-Commerce Mobile Store, we make upgrading your mobile simple, safe, and affordable.</p>
</div></div>
{% endblock %}