{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'splash.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
    <h1>WELCOME</h1><br><br>
    <center><a class="btn btn-primary btn-lg w-75 mx-auto" href="{% url 'register' %}" ><button class="Register">Register</button></a></center>
    <br><center>
    Already have an account? <a class="btn btn-primary btn-lg w-75 mx-auto" href="{% url 'login' %}">Login</a></center>
    </div>
    </div>
</html>