.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(208, 213, 224, 0.3);
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    height: 45px;
}

.nav-logo a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #444;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
.logout-btn {
    background: none;
    border: none;
    color: rgb(14, 13, 13);
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}
.logout-btn:hover {
    text-decoration: underline;
}