* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 50px;
}
/* .navbar-custom {
    background: #0d6efd;
    padding: 0.8rem 1rem;
}
.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand a {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: rgba(208, 213, 224, 0.3);
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    height: 50px;
}

.nav-logo a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #444;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
       
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
    .nav-links li {
        padding: 1rem;
        text-align: center;
    }
}
.logout-btn {
    border: none;
    background: transparent;
    color: rgb(243, 239, 239);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
}
