body{
    display: flex;
    background-color: rgb(162, 204, 237);
    padding-top: 70px;
}
.navbar a{
    margin-right: 5px;
    padding-top: 18px;
    color: rgb(1, 1, 1) !important;
    font-size: 20px;
}
.navbar-text{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size:40px;
    color: black;
}
table,td,th{
    background-color: aliceblue;
}
form input{
    background-color: rgb(198, 217, 246);
}
form button{
    background-color: rgb(5, 109, 74);
    border-radius: 5px;
    color: aliceblue;
}
td a{
    background-color: rgb(184, 51, 51);
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    padding: 3px;
}