body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in{
    display: flex;
    background-color: rgb(217, 225, 230);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin-top: 150px;
    border-radius: 10px;
}
button{
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: #2488da;
    text-decoration: none;
}
button a{
    text-decoration: none;
    color:white;
}
h1{
    margin-top: 150px;
    margin-left: 100px;
}