body{
    background-image: url('home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;

}
.des{
    display: flex;
    padding: 20px;
    background-color: rgba(246, 246, 246, 0.7) !important; /* 20% transparent */
    backdrop-filter: blur(6px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:800px;
    margin-top: 50px;
    border-radius: 10px;
     height:auto;

}
.in{
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    padding-bottom: 40px;
     line-height: 1.6;
   
}
.des p{
    font-family :Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.des .title{
     text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .des {
        margin-top: 20px;
        padding: 15px;
    }

    .des .title {
        font-size: 22px;
    }

    .des p {
        font-size: 15px;
    }
}