body{
    background-image: url('order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover{
     display: flex;
    padding: 20px;
    background-color: rgba(246, 246, 246, 0.7) !important; /* 20% transparent */
    backdrop-filter: blur(6px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:800px;
  
}
.navbar-text{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size:40px;
    color: black;
}
.navbar a{
    margin-right: 5px;
    padding-top: 18px;
    color: rgb(1, 1, 1) !important;
    font-size: 20px;
}
