body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.all{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin:0 auto;
    margin-top: 300px;
   
    
    width:400px;
  
    border-radius: 10px;
     height: 320px;
    
}
.box{
    flex-wrap: wrap;
    display: flex;
    
    width: 600px;
    padding: 30px;
    background: #f2f2f2;
    border-radius: 15px;
}
input {
    width:30px;
    padding: 8px;
    margin-bottom: 10px;
}

h1{
    color: rgb(30, 16, 83);
    padding-left: 50px;
  
}
.error-box {
    background: #ffcccc;
    color: #a10000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
form input {
    width: 50%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 16px;
}
form input[type='submit']{
    padding-left:20px ;
    margin-left: 90px;
}