body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;                
    max-width: 420px;            
    padding: 15px;
  
    border-radius: 10px;
}
.box{
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 25px;
    background: #f2f2f2;
    border-radius: 15px;
    font-size: 16px;
}
input {
    width:100%;
    padding: 10px;
    margin-bottom: 12px;
}

h1{
    color: rgb(30, 16, 83);
    padding-left: 0;
    text-align: center; 
}
.error-box {
    background: #ffcccc;
    color: #a10000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 16px;
}
form input[type='submit']{
    width: 100%;                 
    margin-left: 0;             
    padding: 12px;
    cursor: pointer;
}