body{
    font-family: Arial, sans-serif;
    background-image: url('welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
      
}
.container{ 
   background-color: rgba(255, 255, 255, 0.7) !important; /* 20% transparent */
    backdrop-filter: blur(6px); 
    width:100%;
     max-width: 450px; 
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;  
     justify-content: center; 
     align-items: center;     
    min-height: auto;
    padding: 20px; 
    margin: 0 auto;    
    border-radius: 10px;
    height:auto;
    /* prevents overflow on small screens */
 }

.box {
    flex-wrap: wrap;
    width: 100%;
    max-width: 360px;    /* adjust as needed */  
    text-align: center;
}
.Register{
    cursor: pointer;
    background: rgb(149, 162, 194);
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
} 
 h1 {
    font-size: 2rem;
}

/* Tablet */
@media (max-width: 768px) {
     h1 {
        font-size: 1.7rem;        
    }
}
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .Register {
        width: 100%;            
    }

    h1 {
        font-size: 1.5rem;
    }
}

